.col-checkbox-holder {
  padding-top: 8px;
}

.container-main {
  padding-top: 20px;
}

.board-card {
  border-bottom: 1px solid #efefef;
  line-height: 12px;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  &:hover {
    background-color: #f5f5f5;
  }

  h2 {
    text-align: center;
  }

  &.unpublished {
    background-color: lightgray;
    color: darkgrey;
  }
  .board-inner-content {
    padding-top: 12px;
    padding-bottom: 12px;
    overflow: hidden;

    .destroy-button-holder {
      text-align: center;

      button {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
  .unpublished-explainer {
    line-height: 1em;
    text-align: center;
  }
}

.jumbotron {
  padding: 2em;
  text-align: center;
  margin-bottom: 0;

  .intro-vid-holder {
    width: 100%;
    .intro-vid {
      margin: 12px auto;
      max-width: 100%;
    }
  }
}

.board-list {
  padding-top: 2em;
  position: relative;
  h1 {
    text-align: center;
    text-decoration: underline;
  }
}

th,
td {
  border: none !important; //lul
  @media (max-width: 767px) {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
table {
  @media (max-width: 800px) {
    table-layout: fixed;
  }
}

.create-board-form {
  margin-bottom: 100px;
}
